.maindiv {
  height: 310px;
  width: 650px;
  background-color: aqua;
  margin-left: 350px;
  padding-top: 8px;
  margin-top: 50px;
 
}
h1{
  color: maroon;
  text-align: center;
}
 .srow {
  margin-top: 20px;
  background-color: red;
  margin: 20px;
  padding: 10px;
  cursor: pointer;
}
#row1, #row2, #row3, #row4 {
  margin-left: 55px;
}
.srow:disabled {
  background-color: green;
  color: white;
  cursor: not-allowed;
}
#inputDiv {
  /* margin-top: 20px; */
  margin-left: 250px;
  width: 220px;
  height: 200px;
  background-color: blueviolet;
}
#verifyDiv{
  margin-left: 250px;
  width: 220px;
  height: 200px;
  background-color: blueviolet;
}

input {
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  background-color: plum;
}
button {
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  background-color: palevioletred;
}

